@{
    Layout = "_RoleLayout.cshtml";
    ViewBag.Title = "Create role";
}

<h1 class="text-primary-soft text-center">Create Roles</h1>
<p class="text-center text-muted">
    <i>--Add form here--</i>
</p>