@model IEnumerable<ministryofjusticeDomain.Entities.ApplicationUser>
@{
    ViewBag.Title = "Manage Accounts";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    var users = Model;
}

<div class="card mb-4">
    <div class="card-header">All Accounts</div>
    <div class="card-body">
        <div class="datatable">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="dataTable_length">
                        <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-flex justify-content-end">
                    <div>
                        <a href="@Url.Action("CreateAccount", "Admin")" class="btn btn-outline-primary btn-sm d-inline-flex"><i class="fa fa-plus mr-1"></i>  Add an account</a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Department</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                            <td>System Administrator</td>
                            <td>Department</td>
                            <td>61</td> 
                            <td>$320,800</td>
                            <td>
                                <div class="badge badge-primary badge-pill">Full-time</div>
                            </td>
                            <td>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i data-feather="more-vertical"></i></button>
                                <button class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="trash-2"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

